{% extends "base.html" %}

{% block page_content %}
    <br />
    <table class="table">
        <caption>基本信息</caption>
        <tbody>
        <tr>
            <td>真实姓名</td>
            <td>{{ data['basic_info']['realname'] }}</td>
            <td>用户名</td>
            <td>{{ data['basic_info']['username'] }}</td>
        </tr>
        <tr>
            <td>身份</td>
            <td>{{ data['basic_info']['role'] }}</td>
            <td>总上传路径数</td>
            <td>{{ data['basic_info']['num'] }}</td>
        </tr>
        </tbody>
    </table>
    <br />
    <table class="table table-hover"  id="table">
        <caption>上传的路径</caption>
        <thead>
        <tr>
            <th>路径ID</th>
            <th>路径说明</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for foo in data['path']%}
            <tr>
                <td>{{ foo['id'] }}</td>
                <td>{{ foo['caption'] }}</td>
                <td>
                    <button type="button" class="btn btn-danger" id={{ foo['id'] }}_delete>删除</button>
                    <button type="button" class="btn btn-info" id={{ foo['id'] }}_download>下载</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            deletePath();downloadPath();
        });

        function deletePath(){
            $("#table button:even").bind("click",function(){
                var x=confirm("确认要删除吗？");
                if(x){
                    path_id =  $(this).attr('id').split("_")[0]
                    $(this).parent().parent().remove()
                    $.post("/remove/path", {'path_id': path_id},function(data){
                        var data = eval ("(" + data + ")");
                        if(data.status =="success"){
                            alert("删除成功!");
                            $(this).parent().parent().remove()
                        }else {
                            alert("删除失败!");
                        }
                    })
                }
            })
        }

        function downloadPath(){
            $("#table button:odd").bind("click",function(){
                path_id =  $(this).attr('id').split("_")[0]
                window.location.href="/download/path/"+path_id;
            })
        }

    </script>
{% endblock %}